$white: #fff;
$red: #FF0000;
$gray: gray;
$blue: blue;
$input-border: #bbb;
$title-color: #777;
$logo-hover: #ebebeb;
$footer-border: #eaeaea;
$footer-link: #555;
$footer-link-hover: #222;
$gray-medium-light: #eaeaea;
